node_modules/
dist/
.env
.env.local
android/.gradle/
android/build/
android/app/build/
android/app/google-services.json
android/capacitor-cordova-android-plugins/
android/capacitor.build.gradle
android/capacitor.settings.gradle
google-services.json
*.keystore
*.jks
